# Wails bin directory
build/bin

# Don't save the public folder. It shoud be compiled each time.
frontend/public/bundle.*

# IDEs
.idea
.vscode

# The black hole that is...
node_modules

# Binaries zipped
*.zip
